<?xml version="1.0"?>
<config>
  <modules>
    <Progroup_Novaposhta>
      <version>0.1.2</version>
    </Progroup_Novaposhta>
  </modules>
  <global>
    <helpers>
      <novaposhta>
        <class>Progroup_Novaposhta_Helper</class>
      </novaposhta>
    </helpers>
	<blocks>
	  <novaposhta>
		<class>Progroup_Novaposhta_Block</class>
	  </novaposhta>
	</blocks>
	<models>
	  <novaposhta>
		<class>Progroup_Novaposhta_Model</class>
		<resourceModel>novaposhta_mysql4</resourceModel>
	  </novaposhta>
	  <novaposhta_mysql4>
		<class>Progroup_Novaposhta_Model_Mysql4</class>
		<entities>		  
			  <cities>
				<table>novaposhta_cities</table>
			  </cities>
			  <warehouses>
				<table>novaposhta_warehouses</table>
			  </warehouses>
			  <areas>
				  <table>novaposhta_areas</table>
			  </areas>
			  <quote>
				  <table>sales_quote_np</table>
			  </quote>
			  <order>
				  <table>sales_order_np</table>
			  </order>
		</entities>
	  </novaposhta_mysql4>
	</models>
	<resources>
	  <novaposhta_setup>
		<setup>
		  <module>Progroup_Novaposhta</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </novaposhta_setup>
	  <novaposhta_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </novaposhta_write>
	  <novaposhta_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </novaposhta_read>
	</resources>
	  <events>
		  <checkout_controller_onepage_save_shipping_method>
			  <observers>
				  <novaposhta>
					  <type>singleton</type>
					  <class>Progroup_Novaposhta_Model_Observer</class>
					  <method>saveShipping</method>
				  </novaposhta>
			  </observers>
		  </checkout_controller_onepage_save_shipping_method>
		  <sales_model_service_quote_submit_after>
			  <observers>
				  <novaposhta>
					  <type>singleton</type>
					  <class>Progroup_Novaposhta_Model_Observer</class>
					  <method>saveOrderAfter</method>
				  </novaposhta>
			  </observers>
		  </sales_model_service_quote_submit_after>
		  <sales_quote_save_after>
			  <observers>
				  <novaposhta>
					  <type>singleton</type>
					  <class>Progroup_Novaposhta_Model_Observer</class>
					  <method>saveQuoteAfter</method>
				  </novaposhta>
			  </observers>
		  </sales_quote_save_after>
	  </events>
  </global>    
	<default>
        <carriers>
            <novaposhta>
                <active>1</active>
                <model>novaposhta/carrier_novaposhta</model>
                <name>Nova Poshta</name>
                <title>Nova Poshta</title>
                <description>Novaposhta</description>
                <sort_order>0</sort_order>
				<!--<sallowspecific translate="label">-->
					<!--<frontend_type>select</frontend_type>-->
					<!--<frontend_class>shipping-applicable-country</frontend_class>-->
					<!--<source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>-->
				<!--</sallowspecific>-->
				<!--<specificcountry translate="label">-->
					<!--<frontend_type>multiselect</frontend_type>-->
					<!--<source_model>adminhtml/system_config_source_country</source_model>-->
				<!--</specificcountry>-->
            </novaposhta>
        </carriers>
    </default>
	<admin>
		<routers>
			<novaposhta>
				<use>admin</use>
				<args>
					<module>Progroup_Novaposhta</module>
					<frontName>novaposhta</frontName>
				</args>
			</novaposhta>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<novaposhta translate="title" module="novaposhta">
				<title>PG</title>
				<sort_order>15</sort_order>
				<children>
					<novaposhta translate="title" module="novaposhta">
						<title>Novaposhta</title>
						<sort_order>1</sort_order>
						<children>
							<cities translate="title" module="novaposhta">
								<title>Cities</title>
								<sort_order>1</sort_order>
								<action>novaposhta/adminhtml_novaposhta/cities</action>
							</cities>
						</children>
						<children>
							<warehouses translate="title" module="novaposhta">
								<title>Warehouses</title>
								<sort_order>2</sort_order>
								<action>novaposhta/adminhtml_novaposhta/warehouses</action>
							</warehouses>
						</children>
						<children>
							<areas translate="title" module="novaposhta">
								<title>Areas</title>
								<sort_order>2</sort_order>
								<action>novaposhta/adminhtml_novaposhta/areas</action>
							</areas>
						</children>
					</novaposhta>
				</children>
			</novaposhta>
		</menu>
		<layout>
			<updates>
				<novaposhta>
					<file>progroup_novaposhta.xml</file>
				</novaposhta>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<routers>
			<novaposhta>
				<use>standard</use>
				<args>
					<module>Progroup_Novaposhta</module>
					<frontName>novaposhta</frontName>
				</args>
			</novaposhta>
		</routers>
		<layout>
			<updates>
				<novaposhta>
					<file>novaposhta.xml</file>
				</novaposhta>
			</updates>
		</layout>
	</frontend>
</config> 